<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center"><%=blog.title%></h1>
        <p><%=blog.content%></p>
        <a href="/" class="btn btn-primary">Go to Homepage</a>
      </div>
</body>
</html>